    @import "_normalize";
    @import "_variables";
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');
    html {
        box-sizing: border-box;
    }
    
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
    
    body {
        color: $black;
        background: rgb(204, 204, 207);
    }
    
    .site__header {
        padding-top: 60px;
        color: rgb(82, 58, 185);
        width: 100%;
        justify-content: center;
        align-items: center;
        grid-area: header;
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
        font-family: 'Roboto'
    }
    
    .main__header--red {
        color: red;
    }
    
    .header__list {
        text-decoration: none;
        grid-area: menu;
    }
    
    .navigation {
        background: white;
        background-color: rgba(255, 255, 255, 0.897);
        position: fixed;
        width: 100%;
        margin: 0;
        top: 0;
        color: black;
        &__list {
            list-style: none;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0
        }
        &__item {
            padding: 15px;
            display: block;
            margin-right: 40px;
            &:hover {
                color: yellow;
                background: rgb(132, 156, 179);
            }
        }
        &__content {
            color: rgb(34, 34, 39);
            text-decoration: none;
            font-weight: bold;
            letter-spacing: 1.5px;
            font-size: 16px;
            ;
        }
    }
    
    .main {
        width: 100%;
        max-width: 700px;
        margin: 32px auto;
        display: grid;
        grid-template-areas: "menu menu" "header header" "about content" "footer footer";
        grid-template-columns: 150px 1fr;
        grid-column-gap: 80px;
    }
    
    .diary {
        &__list {
            padding-left: 14px;
        }
        &__tittle {
            color: rgb(69, 96, 219);
            &::before {
                content: "";
                width: 14px;
                height: 14px;
                background: yellow;
                border-radius: 50%;
                display: inline-block;
                margin-right: 5px;
            }
            &::after {
                content: "";
                width: 14px;
                height: 14px;
                background: rgb(88, 11, 151);
                border-radius: 50%;
                display: inline-block;
                margin-left: 5px;
            }
        }
    }
    
    .grid__diary {
        grid-area: content;
    }
    
    .about__box {
        width: 100px;
        height: 100px;
        border: 5px solid black;
        background: red;
        box-sizing: border-box;
        padding: 10px;
        right: 50%;
    }
    
    .header__hamburger {
        background: none;
        position: fixed;
        left: 0;
        top: 0;
    }
    
    .about {
        grid-area: about;
    }
    
    .footer {
        grid-area: footer;
    }
    
    @media (max-width:750px) {
        .navigation__list--js {
            display: none;
            flex-direction: column;
        }
        .navigation__list--visible {
            display: flex;
        }
        .about {
            margin-left: 60px;
            margin-right: 20px;
        }
        .diary {
            margin-left: 60px;
            margin-right: 20px;
        }
        .site__header {
            margin-left: 60px;
            margin-top: 150px;
            margin-right: 50px;
            padding-right: 50px;
        }
        .main {
            display: grid;
            grid-column-gap: 20px;
        }
    }
    
    @media (min-width:750px) {
        .header__hamburger {
            display: none;
        }
    }