    @import "_normalize";
    @import "_variables";
    html {
        box-sizing: border-box;
    }
    
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
    
    body {
        color: $black;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(2,219,232,1) 0%, rgba(0,213,242,1) 0%);
    }
    
    .site__header {
        padding-top: 60px;
        color: rgb(82, 58, 185);
        width: 100%;
        justify-content: center;
        align-items: center;
        grid-area: header;
        display:flex;
        flex-direction: column;
        padding-bottom:50px;
    }
    
   
    
    .main__header--red {
        color: red;
    }
    
    .header__list {
        text-decoration: none;
        grid-area: menu;
    }
    
    .navigation {
        background:white;
        position: fixed;
        width: 100%;
        margin: 0;
        top: 0;
        color: black;
        &__list {
            list-style: none;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0
        }
        &__item {
            padding: 15px;
            display: block;
            margin-right: 40px;
        }
        &__content {
            color: rgb(34, 34, 39);
            text-decoration: none;
            font-weight: bold;
            letter-spacing: 1.5px;
            font-size: 16px;
            ;
        }
    }
    
    .main {
        width: 100%;
        max-width: 700px;
        margin: 32px auto;
        display: grid;
        grid-template-areas: "menu menu"
         "header header"
        "about content"
         "footer footer";
         grid-template-columns: 150px 1fr;
         grid-column-gap: 100px;
    }
    .diary{
     
        &__list{
            padding-left:14px;
        }
        &__tittle{
            color: rgb(69, 96, 219);
        }
    }
 
   

    .grid__diary{
        grid-area:content;
       
    }
    
    
    .about__box {
        width: 100px;
        height: 100px;
        border: 5px solid black;
        background: red;
        box-sizing: border-box;
        padding: 10px;
        right: 50%;
    }
    
    .header__hamburger {
        background: none;
        position: fixed;
        left: 0;
        top: 0;
    }
    .about{
        grid-area:about;
   
    }
    .footer{
        grid-area:footer;
    }
    
    @media (max-width:750px) {
        .navigation__list--js {
            display: none;
            flex-direction: column;
        }
        .navigation__list--visible {
            display: flex;
        }
        .about {
            margin-left: 60px;
            margin-right: 20px;
        }
        .diary {
            margin-left: 60px;
            margin-right: 20px;
        }
        .site__header {
            margin-left: 60px;
            margin-top: 150px;
            margin-right: 50px;
            padding-right: 50px;
        }
        .main{
            display:grid;
            grid-column-gap: 20px;
          
        }
    }
    
    @media (min-width:750px) {
        .header__hamburger {
            display: none;
        }
    }