    @import "_normalize";
    @import "_variables";
    html {
        box-sizing: border-box;
    }
    
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
    
    body {
        color: $black;
        background: rgb(189, 220, 248);
    }
    
    .site__header {
        padding-top: 60px;
        color: rgb(82, 58, 185);
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
    }
    
    .main__header--red {
        color: red;
    }
    
    .header__list {
        text-decoration: none;
    }
    
    .navigation {
        background: rgb(60, 187, 250);
        position: fixed;
        width: 100%;
        margin: 0;
        top: 0;
        &__list {
            list-style: none;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0
        }
        &__item {
            padding: 20px;
            display: block;
            margin-right: 40px;
        }
        &__content {
            color: blue;
            text-decoration: none;
        }
    }
    
    .main {
        width: 100%;
        max-width: 700px;
        margin: 32px auto;
    }
    
    .diary__tittle {
        color: rgb(69, 96, 219);
    }
    
    .about__box {
        width: 100px;
        height: 100px;
        border: 5px solid black;
        background: red;
        box-sizing: border-box;
        padding: 10px;
        right: 50%;
        margin-top: 50px;
    }
    
    .header__hamburger {
        background: none;
        position: fixed;
        left: 0;
        top: 0;
    }
    
    @media (max-width:500px) {
        .navigation__list--js {
            display: none;
            flex-direction: column;
        }
        .navigation__list--visible {
            display: flex;
        }
    }
    
    @media (min-width:500px) {
        .header__hamburger {
            display: none;
        }
    }